@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body>header{

    background: url('../images/ly.jpg') no-repeat;
    height: 735px;

}
#button-servise{
    /*border: 1px solid red;*/
    background-color: grey;
    width: 10%;
    text-align: center;
    margin: auto;
    padding-right: 20px;
}
#button-servise>a{
    color: white;
}

#iconServise>a{
   text-align: center;

}
main{
    /*border: 1px solid red;*/
}

#menu{
    
    text-align: center;
    padding: 15px;
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;


    background-color: burlywood;
    border-radius: 3px;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    box-shadow: 10px 10px 50px 3px;
   
}

a{
    padding: 35px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;

}
#divMain{
    border: 1px solid;
    height: 735px;
}
#textH{


   color: white;
    text-align: center;


}
#textH>h1{
    margin-top: 60px;
    font-size: 40px;

}
#iconHeader>a{
    border-radius: 5px;
    width: 7%;
    margin-top: 60px;
    font-size: 10px;
    padding: 9px;
    margin: auto;
    background-color: midnightblue;
    color: white;
    text-align: center;
}


#container{


    text-align: center;

}
#container>div{
    width: 33%;
   /* border:1px solid;*/
    margin-left: 200px;





}
#container>section>div>p{
    /*border: 1px solid;*/
    font-weight: bold;

}
#icon,#icon2,#icon3,#icon4,#icon5,#icon6 {
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #090821;
    color: #fff;
    border-radius: 50%;
    margin-right: 7px;
}
main>div>div>p{
    font-weight: bold;
    text-align: center;
}
#section1{
    /*border: 1px solid yellow;*/

}
#section1>div{
    width: 25%;

    display: inline-block;
   /*border:1px solid red ;*/
    margin: 15px;
    font-family: 'Roboto', sans-serif;

}
#section2{
    /*border:1px solid blue;*/
}
#section2>div{
    width: 25%;
    margin: 15px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    /*border:1px solid red ;*/
}
#iconServise{
    text-align: center;
}
footer{
    font-family: 'Roboto', sans-serif;

}
#container2 {
    background: url("../images/steel-bg.jpg") no-repeat;
    height: 100px;
    text-align: center;
    opacity: 0.9;


}
#container2>h3{
    padding-top: 20px;
    color: darkgoldenrod;

}
#container2>p{
    font-weight: bold;
}
#container3{
    background: url("../images/background-choose-us.jpg") no-repeat;
    height: 250px;
    opacity: 5.8;
    text-align: center;
    padding-top: 20px;



}
#container3>div{
    /*border: 1px solid red;*/
    width: 20%;
    display: inline-block;
    color: white;
    margin: 20px;
}
#container4{
    background: url("../images/consulting-woman.jpg") no-repeat;
    height: 600px;
    padding-top: 30px ;
    padding-left: 30px;


}
#container4-left{
    width: 40%;
    height: 400px;
    background: white;
    padding-top: 40px;

}
#container4-left-in{
    width: 390px;
    height: 270px;
    background: darkblue;
    background-color:#191950;
    margin: auto;
    padding-left: 5px;
}
#container4-left-in>h1{
    padding-left: 5px;
}
#container4-left-in>p{
    padding-right: 0px;
}
p.aside{
    border: solid ;
    color: grey;
}
table,td{
    border: 1px solid black;
}
